{% load static %}
    

    <footer class="footer">
        <div class="footer_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="footer_info text-center">
                            <div class="footer_logo text-center">
                                <a href="#">
                                    <img src="{% static 'img/footer-logo.png' %}" alt="">
                                </a>
                            </div>
                            <p class="footer_text">
                                Explore Create Content blog to enrich your knowledge
                            </p>
                            <div class="header_links">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a class="twiter" href="#"> <i class="fa fa-twitter"></i> </a></li>
                                    <li><a class="insta" href="#"> <i class="fa fa-instagram"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom ">
            <div class="container">
                <div class="footer_border">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer_links text-center">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/account/register">Register</a></li>
                                    <li><a href="/account/login">Login</a></li>
                                    <li><a href="/blogs">Blogs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright_text text-center">
                <p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
</p>
            </div>
        </div>
    </footer>
