{% extends 'base.html' %}
{% block content %}
{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Photomedia</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

 
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
 
    <meta name="robots" content="noindex, nofollow" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        .pagination {
          display: inline-block;
        }
        
        .pagination a {
          color: black;
          float: left;
          padding: 8px 16px;
          text-decoration: none;
        }
        
        .pagination a.active {
          background-color: #4CAF50;
          color: white;
          border-radius: 5px;
        }
        
        .pagination a:hover:not(.active) {
          background-color: #ddd;
          border-radius: 5px;
        }
        </style>
</head>


<body>
<br>    
    <div class="most_recent_blog">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-33">
                        <h3>Search Results for <u>{{ query }}</u></h3>
                    </div>
                </div>
                <div class="col-xl-8 col-md-8">
                    <div class="row">
                        {% for obj in allpost %}
                        <div class="col-xl-6 col-md-6">
                            <div class="single_blog">
                                <div class="blog_thumb">
                                    <a href="/blogs/{{ obj.slug }}">
                                        <img src="{{ obj.image.url }}" alt="">
                                    </a>
                                </div>
                                <div class="blog_meta">
                                    <p><a href="/blogs/{{ obj.slug }}">{{ obj.Category }} | {{ obj.timestamp }}</a></p>
                                    <h3><a href="/blogs/{{ recent_post.slug }}">
                                        {{ obj.title }}
                                        </a></h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}</div>
                    </div>
                </div>
            </div>
        </div>



    {% endblock content %}



</body>

</html>